

.container{
    margin: 0;
    padding: 0;
    background-color: gray;
    display: flex;
    flex-direction: row;

}

.coluna_esquerda{
    
    background-color: green;
    display: flex;
    flex-direction: column;

}


